{% block title %}Liste des auteurs{% endblock %}

{% block body %}
<h1>Liste des auteurs</h1>

<table border="1" cellpadding="5">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom d'utilisateur</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.username }}</td>
                <td>{{ author.email }}</td>
                <td> <a href="{{ path('author_edit', {'id': author.id}) }}"> Edit  </a> |
                     <a href="{{ path('author_delete', {'id': author.id}) }}" onclick="return confirm('are you sure');"> Delete  </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun auteur trouvé</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}